.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('./assets/Adventure background.webp'); /* Chemin vers votre image */
  background-size: cover; /* Adapte l'image à la taille de la page */
  background-repeat: no-repeat; /* Évite de répéter l'image */
  background-attachment: fixed; /* Garde le fond fixe */
  background-position: center; /* Centre l'image */
}

.title-border {
  border: 3px solid #ffcc00; /* Couleur du cadre */
  color: #ffcc00; /* Couleur du texte identique à celle du cadre */
  padding: 10px; /* Espacement à l'intérieur du cadre */
  border-radius: 5px; /* Arrondir les coins du cadre */
  display: inline-block; /* Pour que le cadre s'adapte à la taille du titre */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ajoute une ombre pour un effet plus sympa */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour améliorer la lisibilité */
}

.title-border-h3 {
  border: 2px solid #ffcc00; /* Couleur du cadre */
  color: #ffcc00; /* Couleur du texte identique à celle du cadre */
  padding: 5px 10px; /* Espacement à l'intérieur du cadre */
  border-radius: 3px; /* Arrondir les coins du cadre */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
  text-align: center; /* Centre le texte à l'intérieur du cadre */
  display: inline-block; /* Pour que le cadre occupe uniquement la largeur du texte */
  margin: 20px; /* Espacement de 20px sur tous les côtés */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour améliorer la lisibilité */
}

.stats-box {
  display: inline-block; /* Pour ajuster la largeur au contenu */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.styled-link {
  color: #FFD700; /* Texte doré */
  background-color: #000; /* Fond noir */
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px; /* Taille de la police augmentée */
}

.styled-link:hover {
  text-decoration: underline;
}

.nav-links {
  margin-top: 20px;
}

.link-navigation {
  position: absolute;
  top: 10px;
  left: 10px;
}

.spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 10px; /* Ajoute une marge de 10 pixels autour des boutons */
  padding: 10px; /* Ajoute de l'espace interne au bouton */
  background-color: black;
  color: #FFD700; /* Couleur or */
  border: 2px solid #FFD700; /* Bordure or */
  padding: 10px 20px;
  border-radius: 8px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #FFD700; /* Or en surbrillance */
  color: black; /* Texte noir quand survolé */
  border: 2px solid black; /* Bordure noire lorsque le bouton est survolé */
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px #FFD700; /* Ombre dorée pour mettre en évidence le focus */
}

.connect-wallet {
  position: absolute;
  top: 20px;  /* Adjust to control the distance from the top */
  right: 20px;  /* Adjust to control the distance from the right */
}

